h1{
    color: bisque
}
h3{
    color: bisque;  
}

h4,h5{
    color: bisque;  
}

a:link{
    color:blue;
}

a:visited{
    color:purple;
}

.header{
    background-color: powderblue  ;
    justify-content: space-evenly;
    background-color: rgba(129, 220, 190, 0.542);

}

.header a{
    margin-left: 50px;
    text-decoration: none
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    background-color: rgba(255, 228, 196, 0.618);
    border-radius: 25px;
}

.item:hover h4{
    opacity: 1;
}

.item:hover img{
    opacity: 0.3;
}

.item:hover li{
    opacity: 0.3;
}

.item:hover p{
    opacity: 0.3;
}



.item img{
    margin-right: 300px;
}

body{
    background-image: url("bg image.jpg");
    background-repeat: no-repeat;
    background-size:100% 150%;
}

.item h4{
    position:absolute;
    top:60%;
    left:30%;
    transform: translate(-50%,-50%);
    opacity:0;
}

.item h5{
    position:absolute;
    top:60%;
    left:70%;
    transform: translate(-50%,-50%);
    opacity:0;
}

.item:hover h5{
    opacity: 1;
}

